@font-face {
  font-family: "Trebuchet MS";
  src: url("../../public/fonts/trebuchetms.ttf");
  font-weight: 400;
  font-style: normal;
}
// Exo2.0
@font-face {
  font-family: "Exo2.0";
  src: url("../../public/fonts/Exo2.0-Thin.otf");
  font-weight: 400;
  font-style: normal;
}
